
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
    display: block;
    text-align: center;
    font-family: 'Poppins', sans-serif;;

}


#main{
    background-color: #eee;

}
